@charset "UTF-8";

html{
	background: #333333;
}
body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: #f8fafc;
}

#header{
    padding: 40px 0 4px;
}
#header h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#footer{
    margin: 80px 0;
    padding: 24px 0;
    background: #333333;
}
#footer p.copyright{
    text-align: center;
    margin: 0;
}
#footer p.copyright small{
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
}

#app .container{
}
#app .container .qaWrap{
	width: 800px;
    margin: 0 auto 40px;
    padding: 40px;
    background: #ffffff;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    border-radius: 8px;
    box-shadow: 0 0 8px #cccccc;
}

/* 上部メッセージ */

#app .container .qaWrap .outlineText{
    padding: 20px 24px;
    margin: 0 0 40px;
    border-radius: 5px;
	background: #f2f2f2;
    box-sizing: border-box;
}
#app .container .qaWrap .outlineText p{
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
}

/* テキストのみの項目 */
#app .container .qaWrap div.onlyText{
    margin: 0 0 24px;
}
#app .container .qaWrap div.onlyText p{
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}

#app .container .qaWrap dl{
}
#app .container .qaWrap dt,
#app dd{
    font-size: 16px;
    line-height: 1.5;
}
#app .container .qaWrap dt{
    color: #009a9a;
    letter-spacing: 0.02em;
    padding: 0 0 0 12px;
    margin: 0 0 12px;
    border-left: solid 6px #009a9a;
}
#app dd{
    margin: 0 0 40px;
}
#app dd.ans{
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 20px;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 4px;
}

/* 回答項目のCSS */

#app dd input[type="text"]{
    width: 100%;
    font-size: 14px;
    line-height: 1.7;
    border: none;
    border-bottom: dotted 1px #cccccc;
}
#app dd *::placeholder {
	color: #ababab;
    font-size: 14px;
}
#app dd textarea{
    width: 100%;
    font-size: 14px;
    line-height: 1.7;
    padding: 8px;
    border: solid 1px #cccccc;
    box-sizing: border-box;
    border-radius: 3px;
}
#app dd select{
    min-width: 240px;
    font-size: 14px;
    line-height: 1;
    padding: 6px;
    border: solid 1px #cccccc;
    box-sizing: border-box;
    border-radius: 3px;
}

/* radio */
#app dd span.radio{
	display: block;
    font-size: 15px;
    line-height: 1.5;
    margin: 16px 0 0;
}
#app dd span.radio:first-child{
	margin-top: 0;
}
#app dd span.radio input[type="radio"]{
	display: none;
}
#app dd span.radio input[type="radio"] + label{
    padding-left: 20px;
    margin: 0;
    position: relative;
}
#app dd span.radio input[type="radio"] + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
#app dd span.radio input[type="radio"]:checked + label{
  color: #009a9a;
}
#app dd span.radio input[type="radio"]:checked + label::after{
	content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: #009a9a;
    border-radius: 50%;
}

/* checkbox */
#app dd .check{
	display: block;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
#app dd.ans .check{
    margin: 12px 0 0;
}
#app dd.ans .check:first-child{
    margin-top: 0;
}
#app dd.ans small{
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 2px 0 0;
}
#app dd .check label{
    display: block;
}
#app dd .check input[type="checkbox"]{
  display: none;
}
.checkbox01-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts{
  color: #009a9a;
}
.checkbox01-input:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}
#app dd .check input[type="checkbox"]:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}


#app dd .inputText,
#app dd .textarea{
    display: block;
    padding: 0 0 0 1em;
    margin: 4px 0 16px;
}
#app dd .addTextarea{
}

#app dd ul.level{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
    position: relative;
}
#app dd ul.level.question.question:before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: #cccccc;
    top: 50%;
    left: 0;
    z-index: 10;
}
#app dd ul.level.question.question li{
    width: 19%;
    float: left;
	text-align: center;
    box-sizing: border-box;
}
#app dd ul.level.question li:first-child{
    width: 21.5%;
    text-align: left;
}
#app dd ul.level.question li:last-child{
	width: 21.5%;
    text-align: right;
}
#app dd ul.level.question li span.radio{
	display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    padding: 0 8px;
    background: #ffffff;
    position: relative;
    box-sizing: border-box;
    z-index: 20;
}
#app dd ul.level.confirm li{
}

/* ----- 送信ボタン ----- */

#app .submitBtn{
	font-size: 0;
    text-align: center;
}
#app .submitBtn button{
	min-width: 240px;
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    padding: 12px 0;
    margin: 0 0 0 12px;
}
#app .submitBtn button:first-child{
	margin-left: 0;
}
#app .submitBtn button:hover{
	opacity: 0.5;
}

/* ----- 回答完了メッセージ ----- */

#app .completeMsg{
	width: 800px;
    margin: 40px auto;
    padding: 40px;
    background: #ffffff;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    border-radius: 8px;
    box-shadow: 0 0 8px #cccccc;
}
#app .completeMsg p{
    font-size: 20px;
    font-weight: bold;
	text-align: center;
    margin: 0;
}